@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.App {
  text-align: center;
}
.content {
  background-color: #e5e6e4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  height: 100vh;
  overflow: auto;
  /* flex-direction: row; */
}
.slot-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 3rem; */
  flex-wrap: wrap;
  margin-top: 3rem;
}
@media screen and (min-width: 1100px) {
  .slot-game {
    transform: scale(1.5, 1.5);
  }
}
/* .flexCol {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 500px;
  justify-content: center;
  align-items: center;
} */
.payout-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1d8bb;
  min-width: 220px;
  border: 2px solid #333;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
}
.score-board {
  font-family: "Press Start 2P", cursive;
  display: flex;
  margin-bottom: 3em;
  flex-direction: column;
  background-color: #f1d8bb;
  min-width: 240px;
  justify-content: center;
  align-items: right;
  border: 2px solid #333;
  padding: 1.5rem;
  padding-top: 0;
  margin-top: 3rem;
  border-radius: 1rem;
  line-height: 1.5rem;
}
.myScore {
  color: #b52121;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.lines-bet {
  width: 10px;
  margin-top: 0.4rem;
  margin-right: 0.2rem;
  padding: 0.4rem;
  border-radius: 0.3rem;
  color: #222;
  box-shadow: 10px;
  font-weight: bold;
  cursor: pointer;
}
.lines-payout {
  width: 40px;
  margin-top: 0.4rem;
  margin-right: 0.2rem;
  padding: 0.4rem;
  border-radius: 0.3rem;
  color: #222;
  box-shadow: 10px;
  font-weight: bold;
  cursor: pointer;
}
.wager-amount {
  width: 40px;
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 0.5rem;
  color: #222;
  box-shadow: 10px;
  font-weight: bold;
  cursor: pointer;
}

.button {
  margin: 0.1rem;
}

.spin-button {
  padding: 1rem;
  background-color: #ffd921;
  border-radius: 1rem;
  color: #222;
  box-shadow: 10px;
  font-weight: bold;
  cursor: pointer;
}

.wager-one-button {
  padding: 1rem;
  background-color: #59c9f1;
  border-radius: 1rem;
  color: #222;
  box-shadow: 10px;
  font-weight: bold;
  cursor: pointer;
}
.muted-button {
  height: 51px;
  width: 60px;
  padding: 1rem;
  background-color: #dda059;
  border-radius: 1rem;
  color: #222;
  box-shadow: 10px;
  font-weight: bold;
  cursor: pointer;
}

.wager-max-button {
  padding: 1rem;
  background-color: #b52121;
  border-radius: 1rem;
  color: #ddd;
  box-shadow: 10px;
  font-weight: bold;
  cursor: pointer;
}

.titleBox {
  background-color: #f1d8bb;
  width: 310px;
  color: #444;
  box-shadow: 10px;
  font-weight: bold;
  border-style: dotted dotted solid dotted;
  border-radius: 1rem 1rem 0rem 0rem;
  text-align: center;
}
.slotRow {
  width: 310px;
  height: 64px;
  margin: 0rem;
  border-radius: 0rem;
  border-width: 0.15rem;
  color: #222;
  font-weight: bold;
  border-style: none solid none solid;
  text-align: center;
}
.Information {
  background-color: #f1d8bb;
  min-width: 400px;
  height: 45px;
  padding: 10px;
  margin: 0rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  border-width: 0.15rem;
  color: #222;
  font-weight: bold;
  border-style: solid solid none solid;
  text-align: center;
}
.Buttons {
  background-color: #f1d8bb;
  display: flex;
  min-width: 400px;
  align-items: center;

  padding: 10px;
  margin: 0rem;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  border-width: 0.15rem;
  color: #222;
  font-weight: bold;
  border-style: none solid solid solid;
  text-align: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
