.App {
  text-align: center;
}
.flexBox {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
}
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 500px;
  justify-content: center;
  align-items: center;
}
.flexCol {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* width: 500px; */
  justify-content: center;
  align-items: center;
}
.payoutTable {
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.lines-bet {
  width: 10px;
  margin-top: 0.4rem;
  margin-right: 0.2rem;
  padding: 0.4rem;
  border-radius: 0.3rem;
  color: #222;
  box-shadow: 10px;
  font-weight: bold;
  cursor: pointer;
}
.lines-payout {
  width: 40px;
  margin-top: 0.4rem;
  margin-right: 0.2rem;
  padding: 0.4rem;
  border-radius: 0.3rem;
  color: #222;
  box-shadow: 10px;
  font-weight: bold;
  cursor: pointer;
}
.wager-amount {
  width: 40px;
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 0.5rem;
  color: #222;
  box-shadow: 10px;
  font-weight: bold;
  cursor: pointer;
}
.spin-button {
  padding: 1rem;
  background-color: yellow;
  border-radius: 1rem;
  color: #222;
  box-shadow: 10px;
  font-weight: bold;
  cursor: pointer;
}
.wager-one-button {
  padding: 1rem;
  background-color: #888888;
  border-radius: 1rem;
  color: #222;
  box-shadow: 10px;
  font-weight: bold;
  cursor: pointer;
}
.wager-max-button {
  padding: 1rem;
  background-color: #ff0000;
  border-radius: 1rem;
  color: #222;
  box-shadow: 10px;
  font-weight: bold;
  cursor: pointer;
}

.titleBox {
  width: 310px;
  margin-top: 20rem;
  color: #222;
  box-shadow: 10px;
  font-weight: bold;
  border-style: dotted dotted none dotted;
  border-radius: 1rem 1rem 0rem 0rem;
  text-align: center;
}
.slotRow {
  width: 310px;
  height: 64px;
  margin: 0rem;
  border-radius: 0.2rem;
  border-width: 0.15rem;
  color: #222;
  font-weight: bold;
  border-style: solid solid none solid;
  text-align: center;
}
.Information {
  width: 350px;
  height: 45px;
  padding: 10px;
  margin: 0rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  border-width: 0.15rem;
  color: #222;
  font-weight: bold;
  border-style: solid solid none solid;
  text-align: center;
}
.Buttons {
  width: 350px;

  padding: 10px;
  margin: 0rem;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  border-width: 0.15rem;
  color: #222;
  font-weight: bold;
  border-style: none solid solid solid;
  text-align: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
