.App {
  text-align: center;
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.wager-amount {
  width: 40px;
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 0.5rem;
  color: #222;
  box-shadow: 10px;
  font-weight: bold;
  cursor: pointer;
}
.spin-button {
  margin-top: 3rem;
  padding: 1rem;
  background-color: yellow;
  border-radius: 0.5rem;
  color: #222;
  box-shadow: 10px;
  font-weight: bold;
  cursor: pointer;
}
.wager-one-button {
  margin-top: 3rem;
  padding: 1rem;
  background-color: #888888;
  border-radius: 0.5rem;
  color: #222;
  box-shadow: 10px;
  font-weight: bold;
  cursor: pointer;
}
.wager-max-button {
  margin-top: 3rem;
  padding: 1rem;
  background-color: #ff0000;
  border-radius: 0.5rem;
  color: #222;
  box-shadow: 10px;
  font-weight: bold;
  cursor: pointer;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
